<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="rating" content="RTA-5042-1996-1400-1577-RTA" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,width=device-width"
    />
    <title></title>

    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="https://api.jerkmate.com/static/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://api.jerkmate.com/static/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://api.jerkmate.com/static/icons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="https://api.jerkmate.com/static/icons/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="https://api.jerkmate.com/static/icons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link
      rel="shortcut icon"
      href="https://api.jerkmate.com/static/icons/favicon.ico"
    />

    <!-- TailorX: Ignore during parsing START -->
    <!-- Shared stylesheets -->
    <link rel="stylesheet" type="text/css" href="/theme.min.css" />
    <link
      media="print"
      onload='this.onload=null,this.removeAttribute("media")'
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>

    <!-- TailorX: Ignore during parsing END -->
    <script>
      if (!window.dataLayer) window.dataLayer = [];
      if (!window.sessionDataLayer) window.sessionDataLayer = [];
    </script>
  </head>
  <body>
    <ilc-slot id="body" />

    <script src="/mfe/session-client/session-client@2.0.12.js"></script>
  </body>
</html>
